<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Hash File Storage</title>
<script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./cvi_busy_lib.js"></script>
<script>
$(function(){
  $.ajax({
    type: 'GET',
    url: '/api/file_ids',
    success: function( result ){
      result.ids.forEach( function( id ){
        var tr = '<tr>'
          + '<td>' + shortenStr( id ) + '</td>'
          + '<td><img src="/api/file/' + id + '?binary=1" width="200"/></td>'
          + '<td>'
          + '<input type="button" class="btn btn-primary btn-xs" value="DOWNLOAD" onClick="downloadFile(\'' + id + '\');"/>'
          + '<input type="button" class="btn btn-secondary btn-xs" value="VALIDATE" onClick="validateFile(\'' + id + '\');"/>'
          + '<input type="button" class="btn btn-danger btn-xs" value="DEL" onClick="delFile(\'' + id + '\');"/>'
          + '</td>'
          + '</tr>';
        $('#table-body').append( tr );
      });
      var tr = '<tr>'
        + '<td> - </td>'
        + '<td><form name="frm" id="frm" method="POST" action="/api/file" enctype="multipart/form-data"><input class="form-control" type="file" id="file" name="file"/></form></td>'
        + '<td>'
        + '<input type="button" class="btn btn-success btn-xs" value="ADD" onClick="addFile();"/>'
        + '<input type="button" class="btn btn-warning btn-xs" value="EXIST" onClick="existFile();"/>'
        + '</td>'
        + '</tr>';
      $('#table-body').append( tr );
    },
    error: function( e0, e1, e2 ){
      console.log( e1 + " : " + e2 );
    }
  });
});

function downloadFile( id ){
  window.location.href = '/api/file/' + id + '?download=1';
}

function addFile(){
  var fd = new FormData();
  if( $("input[name='file']").val() != '' ){
    fd.append( "file", $("input[name='file']").prop("files")[0] );
    $.ajax({
      type: "POST",
      url: '/api/file',
      dataType: "text",
      data: fd,
      processData: false,
      contentType: false,
      success: function( result ){
        //console.log( result );
        location.href = '/';
      },
      error: function( e0, e1, e2 ){
        console.log( e1 + " : " + e2 );
      }
    });
  }

  return false;
}

function validateFile( id ){
  $.ajax({
    type: "POST",
    url: '/api/validate/' + id,
    success: function( result ){
      console.log( result );
      if( result && result.status ){
        alert( 'validated.' );
      }else{
        alert( 'validation failed.' );
      }
    },
    error: function( e0, e1, e2 ){
      console.log( e1 + " : " + e2 );
    }
  });
}

function existFile(){
  var fd = new FormData();
  if( $("input[name='file']").val() != '' ){
    fd.append( "file", $("input[name='file']").prop("files")[0] );
    $.ajax({
      type: "POST",
      url: '/api/exist',
      dataType: "text",
      data: fd,
      processData: false,
      contentType: false,
      success: function( result ){
        result = JSON.parse( result );  //??
        //console.log( result );
        alert( "該当ファイルは id : " + result.hash + " として存在しています。" );
      },
      error: function( e0, e1, e2 ){
        //console.log( e1 + " : " + e2 );
        alert( "該当ファイルは存在していません。" );
      }
    });
  }

  return false;
}

function delFile( id ){
  if( window.confirm( 'ID: ' + id + ' のファイルを削除します' ) ){
    var obj = getBusyOverlay( 'viewport', { color:'black', opacity:0.5, text:'削除中', style:'text-decoration:blink;font-weight:bold;font-size:12px;color:white' } );
    $.ajax({
      type: "DELETE",
      url: "/api/file/" + id,
      success: function( data ){
        obj.remove();
        //console.log( data );
        location.href = '/';
      },
      error: function( e0, e1, e2 ){
        obj.remove();
        console.log( e1 + " : " + e2 );
      }
    });
  }
}

function shortenStr( str ){
  var r = str;
  var len = str.length;
  if( len > 11 ){
    var s1 = str.substr( 0, 5 );
    var s2 = str.slice( -5 );
    r = s1 + ".." + s2;

    r = '<a href="#" title="' + str + '">' + r + '</a>';
  }

  return r;
}
</script>
</head>
<body>
  <!-- //navi -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand" href="./">Hash File Storage</a>
    </div>
    <div class="collapse navbar-collapse target">
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </nav>
  <!-- navi// -->

  <!-- //list -->
  <div class="container" style="padding:60px 0;">
    <table class="table table-bordered">
      <thead>
        <tr style="background-color: #ffffcc;"><th>ID</th><th>Image</th><th>Actions</th></tr>
      </thead>
      <tbody id="table-body">
      </tbody>
    </table>
  </div>
  <!-- list// -->

  <!-- //validate -->
  <!--
  <div class="container" style="padding:30px 0;">
    <form name="frm1" method="POST" action="/api/validate" enctype="multipart/form-data">
      <input type="file" class="form-control" name="file" id="file1"/>
      <input type="button" class="btn btn-warning btn-xs" value="VALIDATE" onClick="validateFile();"/>
    </form>
  </div>
-->
  <!-- validate// -->
</body>
</html>
